{% extends "base.html" %}
{% block content %}
<h1>Add New Manager</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.username.label }}
        {{ form.username(class="form-control") }}
    </div>
    <div>
        {{ form.password.label }}
        {{ form.password(class="form-control") }}
    </div>
    <div>
        {{ form.confirm_password.label }}
        {{ form.confirm_password(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}